In [1]:
import pandas as pd

In [11]:
grades = pd.read_csv('notas.csv', sep=';', names=['matricula', 'nota1', 'nota2'])

In [12]:
grades

  matricula  nota1  nota2
0  M0012017    9.8    9.5
1  M0022017    5.3    4.1
2  M0032017    2.5    8.0
3  M0042017    7.5    7.5

In [13]:
print(grades)

  matricula  nota1  nota2
0  M0012017    9.8    9.5
1  M0022017    5.3    4.1
2  M0032017    2.5    8.0
3  M0042017    7.5    7.5

In [14]:
cities = pd.read_excel('capitais.xlsx')

In [15]:
print(cities)

            capital   região  população
0   Belém            Sudeste    1446042
1   Belo Horizonte   Sudeste    2513451
2   Boa Vista          Norte     326419
3   Curitiba             Sul    1893977
4   Florianópolis        Sul     477798
5   Macapá             Norte     465495
6   Manaus             Norte    2094391
7   Palmas             Norte     279856
8   Porto Alegre         Sul    1481019
9   Porto Velho        Norte     511219
10  Rio Branco         Norte     377057
11  São Paulo        Sudeste   12038175
12  Rio de Janeiro   Sudeste    6498837
13  Vitória          Sudeste     359555

In [16]:
import json

In [17]:
with open('notas.json') as f:
    j_notas = json.load(f)

In [21]:
grades_json = pd.DataFrame(j_notas, columns=['matricula', 'notas'])

In [22]:
grades_json

  matricula       notas
0  M0012017  [9.8, 9.5]
1  M0022017  [5.3, 4.1]
2  M0032017  [2.5, 8.0]
3  M0042017  [7.5, 7.5]