In [1]:
import pandas as pd

O DataFrame  é  um dicionário de Series, todas do mesmo tamanho ( size ). Tanto as
suas linhas como as suas colunas podem ser indexadas e rotuladas

In [2]:
data = {'name': ['Argentina', 'Brasil', 'França', 'Itália', 'Reino Unido'],
       'continente': ['América', 'América', 'Europa', 'Europa', 'Europa'],
       'extensao': [2780, 8511, 644, 301, 244],
       'corVerde': [0, 1, 0, 1, 0]}

In [3]:
acronym = ['AR', 'BR', 'FR', 'IT', 'UK']

In [4]:
countries = pd.DataFrame(data, index=acronym)

In [5]:
print(countries)

           name continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

In [6]:
print('--------')
number_lines = countries.shape[0]
number_columns = countries.shape[1]
index_countries = countries.index
columns = countries.columns
countries_type = type(countries)
countries_dtypes = countries.dtypes
countries_idx_dtype = countries.index.dtype

print('Número de linhas:', number_lines)
print('Numero de colunas', number_columns)
print('Rótulo das linhas', index_countries)
print('Rótulos das colunas', columns)
print('Tipo (type):', countries_type)
print('Dtypes das colunas:\n', countries_dtypes)
print('Dtypes dos rótulos das linhas:', countries_idx_dtype)

--------
Número de linhas: 5
Numero de colunas 4
Rótulo das linhas Index(['AR', 'BR', 'FR', 'IT', 'UK'], dtype='object')
Rótulos das colunas Index(['name', 'continente', 'extensao', 'corVerde'], dtype='object')
Tipo (type): <class 'pandas.core.frame.DataFrame'>
Dtypes das colunas:
 name          object
continente    object
extensao       int64
corVerde       int64
dtype: object
Dtypes dos rótulos das linhas: object

#### Indexação básica de células
<img src="Consulta_e_modificacao_dos_dados.png">

In [7]:
countries.iloc[1][0]

'Brasil'

In [8]:
countries.iloc[4][0]

'Reino Unido'

In [9]:
countries.iat[3, 1]

'Europa'

In [10]:
countries.iloc[3]['corVerde']

1

In [11]:
countries.loc['BR'][0]

'Brasil'

In [12]:
countries.loc['FR']['name']

'França'

In [13]:
countries.at['FR', 'name']

'França'

In [15]:
countries['name']

AR      Argentina
BR         Brasil
FR         França
IT         Itália
UK    Reino Unido
Name: name, dtype: object

In [16]:
countries.name

AR      Argentina
BR         Brasil
FR         França
IT         Itália
UK    Reino Unido
Name: name, dtype: object

In [18]:
countries.loc['BR']

name           Brasil
continente    América
extensao         8511
corVerde            1
Name: BR, dtype: object

In [19]:
countries.iloc[2]

name          França
continente    Europa
extensao         644
corVerde           0
Name: FR, dtype: object

In [20]:
countries.iloc[:3, :2]

         name continente
AR  Argentina    América
BR     Brasil    América
FR     França     Europa

In [23]:
countries.loc[['BR', 'IT'], 'corVerde']

BR    1
IT    1
Name: corVerde, dtype: int64

In [25]:
countries.loc[countries['continente'] == 'América']

         name continente  extensao  corVerde
AR  Argentina    América      2780         0
BR     Brasil    América      8511         1