##### Dataframe é um dicícionário de séries e cada coluna é uma séries

In [50]:
import pandas as pd

In [51]:
data_all_countries = {
    'name': ['Argentina', 'Brasil', 'França', 'Itália', 'Reino Unido'],
    'continente': ['América', 'América', 'Europa', 'Europa', 'Europa'],
    'extensao': [2780, 8511, 644, 301, 244],
    'corVerde': [0, 1, 0, 1, 0]
}

In [52]:
acronyms_countries = ['AR', 'BR', 'FR', 'IT', 'UK']

In [53]:
countries = pd.DataFrame(data_all_countries, index=acronyms_countries)

In [54]:
print(countries)

           name continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

### Todo  DataFrame  é  um  objeto  do  tipo pandas.core.frame.DataFrame
que  possui  as  seguintes propriedades básicas:

shape : formato do DataFrame, ou seja, o seu número de linhas ( shape[0] ) e de colunas ( shape[1] );

index : lista com os rótulos das linhas;

columns : lista com os rótulos das colunas;

dtypes :  retorna  uma  Series  com  os   dtypes   de  cada coluna;

index.dtype :  dtype  dos rótulos das linhas

In [55]:
# Recupera e imprime as propriedades

In [56]:
number_of_lines = countries.shape[0]
number_of_columns = countries.shape[1]
index_contries = countries.index
columns_countries = countries.columns
countries_type = type(countries)
countries_dtypes = countries.dtypes
countries_index_dtype = countries.index.dtype

In [57]:
print('Número de linhas: ', number_of_lines)
print('Numéro de colunas: ', number_of_columns)
print('Rótulos das linhas: ', index_contries)
print('Rótulos das colunas: ', columns_countries)
print('Tipo (type): ', countries_type)
print('Dtypes das colunas: \n', countries_dtypes)
print('Dtype dos rótulos das linhas: ', countries_index_dtype)

Número de linhas:  5
Numéro de colunas:  4
Rótulos das linhas:  Index(['AR', 'BR', 'FR', 'IT', 'UK'], dtype='object')
Rótulos das colunas:  Index(['name', 'continente', 'extensao', 'corVerde'], dtype='object')
Tipo (type):  <class 'pandas.core.frame.DataFrame'>
Dtypes das colunas:
 name          object
continente    object
extensao       int64
corVerde       int64
dtype: object
Dtype dos rótulos das linhas:  object

In [58]:
countries

           name continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

In [59]:
countries.iloc[1][1]

'América'

In [60]:
countries.iat[0, 1]

'América'

In [61]:
countries.iloc[1]['name']

'Brasil'

In [62]:
countries.loc['FR']['extensao']

644

In [63]:
countries.loc['UK'][0]

'Reino Unido'

In [64]:
countries.at['BR', 'corVerde']

1

In [65]:
countries['name']

AR      Argentina
BR         Brasil
FR         França
IT         Itália
UK    Reino Unido
Name: name, dtype: object

In [66]:
countries.name

AR      Argentina
BR         Brasil
FR         França
IT         Itália
UK    Reino Unido
Name: name, dtype: object

In [67]:
countries.loc['BR']

name           Brasil
continente    América
extensao         8511
corVerde            1
Name: BR, dtype: object

In [68]:
countries.iloc[0]

name          Argentina
continente      América
extensao           2780
corVerde              0
Name: AR, dtype: object

### Fatiamento

In [69]:
countries.iloc[:3, :2]

         name continente
AR  Argentina    América
BR     Brasil    América
FR     França     Europa

In [70]:
countries.loc[['BR', 'IT'], 'corVerde']

BR    1
IT    1
Name: corVerde, dtype: int64

In [71]:
countries.iloc[-2:,1:3]

   continente  extensao
IT     Europa       301
UK     Europa       244

In [72]:
# Testa se um dado rótulo de linha existe

In [73]:
has_BR = 'BR' in countries.index

In [74]:
has_US = 'US' in countries.index

In [76]:
print("Existe o rótulo 'BR' ->", has_BR)
print('Existe o rótulo "US" ->', has_US)

Existe o rótulo 'BR' -> True
Existe o rótulo "US" -> False