##### Dataframe é um dicícionário de séries e cada coluna é uma séries

In [126]:
import pandas as pd

In [127]:
data_all_countries = {
    'name': ['Argentina', 'Brasil', 'França', 'Itália', 'Reino Unido'],
    'continente': ['América', 'América', 'Europa', 'Europa', 'Europa'],
    'extensao': [2780, 8511, 644, 301, 244],
    'corVerde': [0, 1, 0, 1, 0]
}

In [128]:
acronyms_countries = ['AR', 'BR', 'FR', 'IT', 'UK']

In [129]:
countries = pd.DataFrame(data_all_countries, index=acronyms_countries)

In [130]:
print(countries)

           name continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

### Todo  DataFrame  é  um  objeto  do  tipo pandas.core.frame.DataFrame
que  possui  as  seguintes propriedades básicas:

shape : formato do DataFrame, ou seja, o seu número de linhas ( shape[0] ) e de colunas ( shape[1] );

index : lista com os rótulos das linhas;

columns : lista com os rótulos das colunas;

dtypes :  retorna  uma  Series  com  os   dtypes   de  cada coluna;

index.dtype :  dtype  dos rótulos das linhas

In [131]:
# Recupera e imprime as propriedades

In [132]:
number_of_lines = countries.shape[0]
number_of_columns = countries.shape[1]
index_contries = countries.index
columns_countries = countries.columns
countries_type = type(countries)
countries_dtypes = countries.dtypes
countries_index_dtype = countries.index.dtype

In [133]:
print('Número de linhas: ', number_of_lines)
print('Numéro de colunas: ', number_of_columns)
print('Rótulos das linhas: ', index_contries)
print('Rótulos das colunas: ', columns_countries)
print('Tipo (type): ', countries_type)
print('Dtypes das colunas: \n', countries_dtypes)
print('Dtype dos rótulos das linhas: ', countries_index_dtype)

Número de linhas:  5
Numéro de colunas:  4
Rótulos das linhas:  Index(['AR', 'BR', 'FR', 'IT', 'UK'], dtype='object')
Rótulos das colunas:  Index(['name', 'continente', 'extensao', 'corVerde'], dtype='object')
Tipo (type):  <class 'pandas.core.frame.DataFrame'>
Dtypes das colunas:
 name          object
continente    object
extensao       int64
corVerde       int64
dtype: object
Dtype dos rótulos das linhas:  object

In [134]:
countries

           name continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

In [135]:
countries.iloc[1][1]

'América'

In [136]:
countries.iat[0, 1]

'América'

In [137]:
countries.iloc[1]['name']

'Brasil'

In [138]:
countries.loc['FR']['extensao']

644

In [139]:
countries.loc['UK'][0]

'Reino Unido'

In [140]:
countries.at['BR', 'corVerde']

1

In [141]:
countries['name']

AR      Argentina
BR         Brasil
FR         França
IT         Itália
UK    Reino Unido
Name: name, dtype: object

In [142]:
countries.name

AR      Argentina
BR         Brasil
FR         França
IT         Itália
UK    Reino Unido
Name: name, dtype: object

In [143]:
countries.loc['BR']

name           Brasil
continente    América
extensao         8511
corVerde            1
Name: BR, dtype: object

In [144]:
countries.iloc[0]

name          Argentina
continente      América
extensao           2780
corVerde              0
Name: AR, dtype: object

### Fatiamento

In [145]:
countries.iloc[:3, :2]

         name continente
AR  Argentina    América
BR     Brasil    América
FR     França     Europa

In [146]:
countries.loc[['BR', 'IT'], 'corVerde']

BR    1
IT    1
Name: corVerde, dtype: int64

In [147]:
countries.iloc[-2:,1:3]

   continente  extensao
IT     Europa       301
UK     Europa       244

In [148]:
# Testa se um dado rótulo de linha existe

In [149]:
has_BR = 'BR' in countries.index

In [150]:
has_US = 'US' in countries.index

In [151]:
print("Existe o rótulo 'BR' ->", has_BR)
print('Existe o rótulo "US" ->', has_US)

Existe o rótulo 'BR' -> True
Existe o rótulo "US" -> False

In [152]:
# Testa se um dado rótulo de coluna existe

In [153]:
has_green_color = 'corVerde' in countries.columns
has_blue_color = 'corAzul' in countries.columns

In [154]:
print("Existe o rótulo 'corVerde' -> ", has_green_color)
print("Existe o rótulo 'corAzul' -> ", has_blue_color)

Existe o rótulo 'corVerde' ->  True
Existe o rótulo 'corAzul' ->  False

In [155]:
# Testa se o valor faz parte de uma coluna

In [156]:
has_Brasil = countries['name'].isin(['Brasil'])

In [157]:
print("Existe o valor 'Brasil' na coluna 'name'?")
print(has_Brasil)

Existe o valor 'Brasil' na coluna 'name'?
AR    False
BR     True
FR    False
IT    False
UK    False
Name: name, dtype: bool

In [158]:
# Testa se o valor faz parte da coluna extensão

In [159]:
list_in_extensao_validacao = [2780, 8511, 644, 302, 244]

In [160]:
has_number_in_extensao = countries['extensao'].isin(list_in_extensao_validacao)

In [161]:
print(f'Os valores de {list_in_extensao_validacao} estão na coluna extensao?')
print(has_number_in_extensao)

Os valores de [2780, 8511, 644, 302, 244] estão na coluna extensao?
AR     True
BR     True
FR     True
IT    False
UK     True
Name: extensao, dtype: bool

In [162]:
# Insere o país Japão (JP)

In [163]:
countries.loc['JP'] = {'name': 'Japão', 'continente': 'Ásia', 'extensao': 372, 'corVerde': 0}

In [164]:
# Altera a extensão do Brasil

In [165]:
countries.at['BR', 'extensao'] = 8512

In [166]:
# Remove a Argentina e o Reino Unido

In [167]:
countries = countries.drop(['AR', 'UK'])

In [168]:
print('Dataframe após as alterações: ')
print()
print(countries)

Dataframe após as alterações:

      name continente  extensao  corVerde
BR  Brasil    América      8512         1
FR  França     Europa       644         0
IT  Itália     Europa       301         1
JP   Japão       Ásia       372         0

'''
O método  read_csv()   é  extremamente  flexível,  possuindo uma série de parâmetros que podem ser utilizados para permitir a
importação de arquivos CSV estruturados de diferentes maneiras.

Os principais parâmetros são relacionados e explicados a seguir:

 sep : caractere ou expressão regular utilizada para separar
campos em cada linha;

 skiprows :  número  de  linhas  no  início  do  arquivo  que
devem ser ignoradas;

 skip_footer : número de linhas no final do arquivo que
devem ser ignoradas;

  encoding  :  padrão  de  codificação  do  arquivo.  A
codificação  default  da  pandas  é  utf-8.  Se  o  seu  arquivo
estiver  codificado  no  formato  ANSI,  você  deverá  utilizar
 encoding='ansi' .
 
  header  :  número  da  linha  que  contém  o  cabeçalho
(default=0).  Se  não  houver  cabeçalho,  deve-se  especificar
 header=None   ou  passar  uma  lista  de  nomes  através  do
parâmetro  names ;

 names :  permite  especificar  uma  lista  de  nomes  para  as
colunas;

index_col  :  permite  que  uma  das  colunas  seja
transformada em índice de linhas;

  na_values  :  sequência  de  valores  que  deverão  ser
substituídos por  NA . Útil para transformação de dados;

  thousands  :  definição  do  separador  de  milhar,  por
exemplo  .  ou  , ;
'''