In [1]:
import pandas as pd

#### Ranqueamento e ordenação

In [2]:
data_rank = {
    "nadador": ["Simonas Bilis", "Benjamin Proud", "Anthony Ervin","Florent Manaudou", "Andriy Hovorov", "Nathan Adrian",
                "Bruno Fratus","Brad Tandy"],
    "nacionalidade": ["Lituânia","Grã-Bretanha","Estados Unidos","França","Ucrânia","Estados Unidos","Brasil","África do Sul"],
    "tempo": [22.08,21.68,21.40,21.41,21.74,21.49,21.79,21.79]
}

In [3]:
swimming_lane = list(range(1,9))

In [4]:
print(swimming_lane)

[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
# Cria o dataframe

In [6]:
meter_race_50 = pd.DataFrame(data_rank, index=swimming_lane)
meter_race_50.index.name = 'Raia'

In [7]:
meter_race_50

               nadador   nacionalidade  tempo
Raia
1        Simonas Bilis        Lituânia  22.08
2       Benjamin Proud    Grã-Bretanha  21.68
3        Anthony Ervin  Estados Unidos  21.40
4     Florent Manaudou          França  21.41
5       Andriy Hovorov         Ucrânia  21.74
6        Nathan Adrian  Estados Unidos  21.49
7         Bruno Fratus          Brasil  21.79
8           Brad Tandy   África do Sul  21.79

In [8]:
# Ordena pelo tempo de forma crescente

In [9]:
meter_race_50 = meter_race_50.sort_values(by="tempo")
print('Resultado final por tempo')
meter_race_50

Resultado final por tempo

               nadador   nacionalidade  tempo
Raia
3        Anthony Ervin  Estados Unidos  21.40
4     Florent Manaudou          França  21.41
6        Nathan Adrian  Estados Unidos  21.49
2       Benjamin Proud    Grã-Bretanha  21.68
5       Andriy Hovorov         Ucrânia  21.74
7         Bruno Fratus          Brasil  21.79
8           Brad Tandy   África do Sul  21.79
1        Simonas Bilis        Lituânia  22.08

In [10]:
# Gera rankings

In [14]:
Result_by_lane = meter_race_50['tempo'].rank(method='min')
print('Posição de cada nadador por raia')
Result_by_lane

Posição de cada nadador por raia

Raia
3    1.0
4    2.0
6    3.0
2    4.0
5    5.0
7    6.0
8    6.0
1    8.0
Name: tempo, dtype: float64