In [1]:
import pandas as pd

In [2]:
# List with names of students

In [3]:
name_students = ["Ana", "João", "Maria", "Pedro", "Mariana", "Carlos", "Juliana", "Lucas", "Gabriela", "Rafael",
                "Larissa", "Mateus", "Camila", "Thiago", "Isabela", "Fernando", "Beatriz", "Daniel", "Vanessa",
                "Paulo", "Amanda", "Diego", "Carolina", "Felipe", "Patrícia", "Ricardo", "Luana", "Vinícius",
                "Laura", "Bruno"]

In [4]:
students_series = pd.Series(name_students, index=range(1,31))

In [5]:
print(students_series)

1          Ana
2         João
3        Maria
4        Pedro
5      Mariana
6       Carlos
7      Juliana
8        Lucas
9     Gabriela
10      Rafael
11     Larissa
12      Mateus
13      Camila
14      Thiago
15     Isabela
16    Fernando
17     Beatriz
18      Daniel
19     Vanessa
20       Paulo
21      Amanda
22       Diego
23    Carolina
24      Felipe
25    Patrícia
26     Ricardo
27       Luana
28    Vinícius
29       Laura
30       Bruno
dtype: object

In [6]:
students_series[1]

'Ana'

In [7]:
students_series[0:2]

1     Ana
2    João
dtype: object

In [8]:
students_series.index

RangeIndex(start=1, stop=31, step=1)

In [9]:
print(students_series)

1          Ana
2         João
3        Maria
4        Pedro
5      Mariana
6       Carlos
7      Juliana
8        Lucas
9     Gabriela
10      Rafael
11     Larissa
12      Mateus
13      Camila
14      Thiago
15     Isabela
16    Fernando
17     Beatriz
18      Daniel
19     Vanessa
20       Paulo
21      Amanda
22       Diego
23    Carolina
24      Felipe
25    Patrícia
26     Ricardo
27       Luana
28    Vinícius
29       Laura
30       Bruno
dtype: object

In [10]:
students_series

1          Ana
2         João
3        Maria
4        Pedro
5      Mariana
6       Carlos
7      Juliana
8        Lucas
9     Gabriela
10      Rafael
11     Larissa
12      Mateus
13      Camila
14      Thiago
15     Isabela
16    Fernando
17     Beatriz
18      Daniel
19     Vanessa
20       Paulo
21      Amanda
22       Diego
23    Carolina
24      Felipe
25    Patrícia
26     Ricardo
27       Luana
28    Vinícius
29       Laura
30       Bruno
dtype: object

In [11]:
students_series.name = "Alunos"
students_series.index.name = 'Matrículas'

In [12]:
size_series = students_series.size
values_series = students_series.values
index_series = students_series.index
type_serie_students = type(students_series)
students_dtype = students_series.dtype
students_series_index_dtype = students_series.index.dtype

In [13]:
print('Número de elementos: ', size_series)
print('Vetor de dados: ', values_series)
print('Vetor de rótulos: ', index_series)
print('Tipo (dtype):', type_serie_students)
print('dtype da Series:', students_dtype)
print('dtype do vetor de rótulos:', students_series_index_dtype)

Número de elementos:  30
Vetor de dados:  ['Ana' 'João' 'Maria' 'Pedro' 'Mariana' 'Carlos' 'Juliana' 'Lucas'
 'Gabriela' 'Rafael' 'Larissa' 'Mateus' 'Camila' 'Thiago' 'Isabela'
 'Fernando' 'Beatriz' 'Daniel' 'Vanessa' 'Paulo' 'Amanda' 'Diego'
 'Carolina' 'Felipe' 'Patrícia' 'Ricardo' 'Luana' 'Vinícius' 'Laura'
 'Bruno']
Vetor de rótulos:  RangeIndex(start=1, stop=31, step=1, name='Matrículas')
Tipo (dtype): <class 'pandas.core.series.Series'>
dtype da Series: object
dtype do vetor de rótulos: int64

In [14]:
print(students_series)

Matrículas
1          Ana
2         João
3        Maria
4        Pedro
5      Mariana
6       Carlos
7      Juliana
8        Lucas
9     Gabriela
10      Rafael
11     Larissa
12      Mateus
13      Camila
14      Thiago
15     Isabela
16    Fernando
17     Beatriz
18      Daniel
19     Vanessa
20       Paulo
21      Amanda
22       Diego
23    Carolina
24      Felipe
25    Patrícia
26     Ricardo
27       Luana
28    Vinícius
29       Laura
30       Bruno
Name: Alunos, dtype: object

In [15]:
students_series[19]

'Vanessa'

In [16]:
students_series[10]

'Rafael'

In [17]:
students_series[students_series.size - 2]

'Vinícius'

In [18]:
students_series[1]

'Ana'

In [19]:
students_series[students_series.size]

'Bruno'

In [20]:
students_series[1:10]

Matrículas
2         João
3        Maria
4        Pedro
5      Mariana
6       Carlos
7      Juliana
8        Lucas
9     Gabriela
10      Rafael
Name: Alunos, dtype: object

In [21]:
students_series[10:]

Matrículas
11     Larissa
12      Mateus
13      Camila
14      Thiago
15     Isabela
16    Fernando
17     Beatriz
18      Daniel
19     Vanessa
20       Paulo
21      Amanda
22       Diego
23    Carolina
24      Felipe
25    Patrícia
26     Ricardo
27       Luana
28    Vinícius
29       Laura
30       Bruno
Name: Alunos, dtype: object

In [22]:
students_series[:10]

Matrículas
1          Ana
2         João
3        Maria
4        Pedro
5      Mariana
6       Carlos
7      Juliana
8        Lucas
9     Gabriela
10      Rafael
Name: Alunos, dtype: object

In [23]:
students_series[-5:]

Matrículas
26     Ricardo
27       Luana
28    Vinícius
29       Laura
30       Bruno
Name: Alunos, dtype: object

In [24]:
students_series[[2, 1, 4]]

Matrículas
2     João
1      Ana
4    Pedro
Name: Alunos, dtype: object

In [25]:
grades = pd.Series([8.5, 7.2, 9.0, 6.8, 8.9])
names_students = pd.Series(['Ana', 'João', 'Maria', 'Pedro', 'Carla'])

In [26]:
names_students.index

RangeIndex(start=0, stop=5, step=1)

In [27]:
index_approved_students = grades[grades >= 7].index

In [28]:
print('Relação de alunos aprovados')
print(names_students[index_approved_students])

Relação de alunos aprovados
0      Ana
1     João
2    Maria
4    Carla
dtype: object

#### Checar se um rótulo ou valor está na serie

In [29]:
is_90 = 99 in students_series

In [30]:
is_90

False

In [31]:
is_13 = 13 in students_series

In [32]:
is_13

True

In [33]:
# Testa se o valor faz parte de uma serie

In [34]:
tem_Laura = students_series.isin(['Laura'])

In [35]:
tem_Laura

Matrículas
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29     True
30    False
Name: Alunos, dtype: bool

In [36]:
tem_Joamir = students_series.isin(['Joamir'])

In [37]:
tem_Joamir

Matrículas
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
Name: Alunos, dtype: bool

In [38]:
students_series[31] = 'Joamir'

In [39]:
students_series[10] = 'Billy'

In [40]:
students_series[6] = 'Jimmy'

In [41]:
students_series = students_series.drop(30)

In [42]:
students_series

Matrículas
1          Ana
2         João
3        Maria
4        Pedro
5      Mariana
6        Jimmy
7      Juliana
8        Lucas
9     Gabriela
10       Billy
11     Larissa
12      Mateus
13      Camila
14      Thiago
15     Isabela
16    Fernando
17     Beatriz
18      Daniel
19     Vanessa
20       Paulo
21      Amanda
22       Diego
23    Carolina
24      Felipe
25    Patrícia
26     Ricardo
27       Luana
28    Vinícius
29       Laura
31      Joamir
Name: Alunos, dtype: object

In [43]:
# Percorrendo uma series

In [44]:
for student in students_series:
    print(student)

Ana
João
Maria
Pedro
Mariana
Jimmy
Juliana
Lucas
Gabriela
Billy
Larissa
Mateus
Camila
Thiago
Isabela
Fernando
Beatriz
Daniel
Vanessa
Paulo
Amanda
Diego
Carolina
Felipe
Patrícia
Ricardo
Luana
Vinícius
Laura
Joamir

In [45]:
for indice in students_series.index:
    print(indice)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31

In [46]:
import numpy as np

In [47]:
series_one = pd.Series([2, 4, 6])
series_two = pd.Series([1, 3, 5])

In [48]:
print('Series one * Series two')
print(series_one * series_two)

Series one * Series two
0     2
1    12
2    30
dtype: int64

In [49]:
print('Series one + Series two')
print(series_one + series_two)

Series one + Series two
0     3
1     7
2    11
dtype: int64

In [50]:
print('Raiz quadrada dos elementos da Series Two')
print(np.sqrt(series_one))

Raiz quadrada dos elementos da Series Two
0    1.414214
1    2.000000
2    2.449490
dtype: float64

### Rótulos de uma série temporal

In [51]:
days_labels = ['10/02/2019', '11/02/2019','12/02/2019','13/02/2019','14/02/2019','15/02/2019']
maximum_temperature = [31, 35, 34, 28, 27, 27]

In [52]:
serie_temporal = pd.Series(maximum_temperature, index=days_labels)

In [53]:
# Converte o tipo de índice para datetime e printa a série com máscaras diretivas
serie_temporal.index = pd.to_datetime(serie_temporal.index, format='%d/%m/%Y')

In [54]:
print(serie_temporal)

2019-02-10    31
2019-02-11    35
2019-02-12    34
2019-02-13    28
2019-02-14    27
2019-02-15    27
dtype: int64

### Indexação Hierarquica

In [58]:
coins_countries = ['Peso', 'Real', 'Euro', 'Euro', 'Libra']
countries = [['América', 'América', 'Europa', 'Europa', 'Europa'],
            ['AR', 'BR', 'FR', 'IT', 'UK']]

In [59]:
countries = pd.Series(coins_countries, index=countries)

In [61]:
print(countries)
print('--------')
print(countries['América'])
print('--------')
print(countries[:,'IT'])
print('--------')
print(countries['Europa', 'IT'])

América  AR     Peso
         BR     Real
Europa   FR     Euro
         IT     Euro
         UK    Libra
dtype: object
--------
AR    Peso
BR    Real
dtype: object
--------
Europa    Euro
dtype: object
--------
Euro