In [56]:
import pandas as pd

In [57]:
grades_student = pd.Series([7.6, 5.0, 8.5, 9.5, 6.4])

In [58]:
list_enrollment = ['M02', 'M05', 'M13', 'M14', 'M19']

In [59]:
list_names = ['Bob', 'Dayse', 'Bill', 'Cris', 'Jimi']

In [60]:
students = pd.Series(list_names, index=list_enrollment)

In [61]:
print(grades_student); print('---------'); print(students)

0    7.6
1    5.0
2    8.5
3    9.5
4    6.4
dtype: float64
---------
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

### Series criada a partir de um dicionário

In [62]:
dict_students = {'M02': 'Bob', 'M05': 'Dayse', 'M13': 'Bill', 'M14': 'Cris', 'M19': 'Jimi'}

In [63]:
students = pd.Series(dict_students)

In [64]:
print(students)

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [65]:
students.name = 'Alunos'

In [66]:
students.index.name = 'Matrículas'

In [67]:
print(students)

Matrículas
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: Alunos, dtype: object

In [68]:
print(students)
print('----------------')
size = students.size
data_values = students.values
labels = students.index
students_type = type(students)
students_dtype = students.dtype
students_idx_dtype = students.index.dtype

print('Número de elementos:', size)
print('Vetor de dados:', data_values)
print('Vetor de rótulos', labels)
print('Tipo', students_type)
print('dtype da Series:', students_dtype)
print('dtype do vetor de rótulos:', students_idx_dtype)

Matrículas
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: Alunos, dtype: object
----------------
Número de elementos: 5
Vetor de dados: ['Bob' 'Dayse' 'Bill' 'Cris' 'Jimi']
Vetor de rótulos Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object', name='Matrículas')
Tipo <class 'pandas.core.series.Series'>
dtype da Series: object
dtype do vetor de rótulos: object

In [69]:
students[0]

'Bob'

In [70]:
students['M02']

'Bob'

In [71]:
students[1]

'Dayse'

In [72]:
students['M14']

'Cris'

In [73]:
students[students.size - 1]

'Jimi'

In [74]:
students[-1]

'Jimi'

### Slice

#####  A técnica de indexação 
baseada  em fatiamento (slicing)  deve
ser utilizada quando você quiser recuperar mais de um elemento
da Series. Você pode fatiar de duas diferentes formas:
Por intervalos (ranges) definidos por dois pontos  : ;
Por listas.

In [75]:
# últimos  k  elementos
students[-2:]

Matrículas
M14    Cris
M19    Jimi
Name: Alunos, dtype: object

In [76]:
students[1:6:2]

Matrículas
M05    Dayse
M14     Cris
Name: Alunos, dtype: object

In [77]:
students[[2, 0, 4]]

Matrículas
M13    Bill
M02     Bob
M19    Jimi
Name: Alunos, dtype: object

In [78]:
students[['M13', 'M02', 'M19']]

Matrículas
M13    Bill
M02     Bob
M19    Jimi
Name: Alunos, dtype: object

In [79]:
idx_approved = grades_student[grades_student >= 7].index

In [80]:
print(idx_approved)

Int64Index([0, 2, 3], dtype='int64')

In [81]:
print('Relação de alunos aprovados:')
print(students[idx_approved])

Relação de alunos aprovados:
Matrículas
M02     Bob
M13    Bill
M14    Cris
Name: Alunos, dtype: object

#####  A técnica de busca 
O programa mostra  como  verificar  se determinados
rótulos ou valores estão presentes em uma Series

In [82]:
has_M13 = 'M13' in students
has_M99 = 'M99' in students

In [83]:
print("Existe o rótulo 'M13'? ", has_M13)
print("Existe o rótulo 'M99'? ", has_M99)

Existe o rótulo 'M13'?  True
Existe o rótulo 'M99'?  False

In [84]:
has_Bob = students.isin(['Bob'])

In [85]:
print("Existe o valor 'Bob'")
print(has_Bob)

Existe o valor 'Bob'
Matrículas
M02     True
M05    False
M13    False
M14    False
M19    False
Name: Alunos, dtype: bool

In [86]:
print(students)

Matrículas
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: Alunos, dtype: object

In [87]:
#insert the student with enrollment M55, Rakesh
students['M55'] = 'Rakesh'

In [88]:
# change names
students['M13'] = 'Billy'
students[['M14', 'M19']] = ['Cristy', 'Jimmy']

In [89]:
students = students.drop('M02')

In [90]:
students

Matrículas
M05     Dayse
M13     Billy
M14    Cristy
M19     Jimmy
M55    Rakesh
Name: Alunos, dtype: object

##### Iterando uma Series

In [91]:
for student in students: print(student)

Dayse
Billy
Cristy
Jimmy
Rakesh

In [96]:
for student_index in students.index:
    print(student_index)

M05
M13
M14
M19
M55

### Introduzindo o Numpy com computação vetorizada

In [97]:
import numpy as np

In [98]:
series_01 = pd.Series([2, 4, 6])
series_02 = pd.Series([1, 3, 5])

In [101]:
print(f' A soma entre series_01 + series_02')
print(series_01 + series_02)

 A soma entre series_01 + series_02
0     3
1     7
2    11
dtype: int64

In [102]:
print('A multiplicação a series_01 e series_02')
print(series_01 * series_02)

A multiplicação a series_01 e series_02
0     2
1    12
2    30
dtype: int64

In [103]:
print('A raiz quadrada dos elementos a series_01')
print(np.sqrt(series_01))

A raiz quadrada dos elementos a series_01
0    1.414214
1    2.000000
2    2.449490
dtype: float64