# Frequency table

## Simple absolute frequency and Simple relative frequency

In [3]:
import pandas as pd

In [4]:
list_to_frequency = [10, 10, 10, 10, 30, 30, 30, 30, 30, 30, 30, 30, 50, 50, 50, 50, 70, 70, 70, 90]

In [5]:
dataframe_frequency = pd.Series(list_to_frequency)

In [6]:
dataframe_frequency

0     10
1     10
2     10
3     10
4     30
5     30
6     30
7     30
8     30
9     30
10    30
11    30
12    50
13    50
14    50
15    50
16    70
17    70
18    70
19    90
dtype: int64

In [7]:
print(dataframe_frequency.shape)

(20,)

#### Simple absolute frequency of Series

In [9]:
print(dataframe_frequency.value_counts())

30    8
10    4
50    4
70    3
90    1
Name: count, dtype: int64

#### Simple relative frequency of Series

In [11]:
# select the label vector to perfom the calculation

In [12]:
label_vector_simple_absolute_frenquency = dataframe_frequency.value_counts().index

In [13]:
print(label_vector_simple_absolute_frenquency)

Index([30, 10, 50, 70, 90], dtype='int64')

In [14]:
values_vector_frequency_simple_absolute_frequency = dataframe_frequency.value_counts().values

In [15]:
print(values_vector_frequency_simple_absolute_frequency)

[8 4 4 3 1]

In [16]:
DIVISOR_IS_THE_SIZE_DATAFRAME_FREQUENCY = dataframe_frequency.size

In [17]:
simple_relative_frequency_column = []

In [18]:
for each_value_frequency in values_vector_frequency_simple_absolute_frequency:
    quocient_result_each_value = each_value_frequency / DIVISOR_IS_THE_SIZE_DATAFRAME_FREQUENCY
    simple_relative_frequency_column.append(quocient_result_each_value)
    print(quocient_result_each_value)

0.4
0.2
0.2
0.15
0.05

In [19]:
all_data_kind_frequency = pd.DataFrame()

In [20]:
all_data_kind_frequency['Values'] = label_vector_simple_absolute_frenquency

In [21]:
all_data_kind_frequency['Frequency Simple Absolute'] = values_vector_frequency_simple_absolute_frequency

In [22]:
all_data_kind_frequency['Simple Relative Frequency'] = simple_relative_frequency_column

In [23]:
all_data_kind_frequency

   Values  Frequency Simple Absolute  Simple Relative Frequency
0      30                          8                       0.40
1      10                          4                       0.20
2      50                          4                       0.20
3      70                          3                       0.15
4      90                          1                       0.05

#### Cumulative absolute frequency

In [25]:
total_frequency_absolute = 0
cumulative_absolute_frequency_list = []

for each_value_frequency in values_vector_frequency_simple_absolute_frequency:
    total_frequency_absolute += each_value_frequency
    cumulative_absolute_frequency_list.append(total_frequency_absolute)
    print(total_frequency_absolute)

8
12
16
19
20

In [26]:
all_data_kind_frequency['Cumulative Absolute Frequency'] = cumulative_absolute_frequency_list

In [27]:
all_data_kind_frequency

,Values,Frequency Simple Absolute,Simple Relative Frequency,Cumulative Absolute Frequency
0,30,8,0.40,8
1,10,4,0.20,12
2,50,4,0.20,16
3,70,3,0.15,19
4,90,1,0.05,20

#### Cumulative relative frequency

In [29]:
total_frequency_relative_int = 0
total_frequency_relative_list = []

for each_value_frequecy in values_vector_frequency_simple_absolute_frequency:
    total_frequency_relative_int += each_value_frequecy / DIVISOR_IS_THE_SIZE_DATAFRAME_FREQUENCY
    total_frequency_relative_list.append(total_frequency_relative_int)
    print(total_frequency_relative_int)

0.4
0.6000000000000001
0.8
0.9500000000000001
1.0

In [30]:
all_data_kind_frequency['Cumulative relative frequency'] = total_frequency_relative_list

In [31]:
all_data_kind_frequency

,Values,Frequency Simple Absolute,Simple Relative Frequency,Cumulative Absolute Frequency,Cumulative relative frequency
0,30,8,0.40,8,0.40
1,10,4,0.20,12,0.60
2,50,4,0.20,16,0.80
3,70,3,0.15,19,0.95
4,90,1,0.05,20,1.00