In [1]:
# Variáveis: Definição de tipos
# Declarando 4 variáveis e atribuindo valores a elas
a_string = "Student"
an_interger = 7
a_float = 7.584
a_boolean = True

In [2]:
# Print a valor and the type of variable

In [3]:
print(a_float)
print(type(a_float))

7.584
<class 'float'>

In [4]:
# Casting: Converting a variable kind float for string

In [5]:
print(int(a_float))

7

In [6]:
print(str(a_float))

7.584

### Arithmetic Operations

In [8]:
# Sum, subtraction, multiplication, division

In [9]:
result_1 = 7 + 5
result_2 = an_interger - result_1
result_3 = result_2 * 3
result_4 = result_3 / 4

In [10]:
# Printing the results concatenating a string with numeric result

In [11]:
print("Result of sum = {}".format(str(result_1)))

Result of sum = 12

In [12]:
print("Result of subtration = {}".format(str(result_2)))

Result of subtration = -5

In [13]:
print("Result of multiplication = {}".format(str(result_3)))

Result of multiplication = -15

In [14]:
print("Result of division = {}".format(str(result_4)))

Result of division = -3.75

In [15]:
# Increment and decrement

In [16]:
an_interger  -= 3
print("Result: " + str(an_interger))

Result: 4

In [17]:
an_interger += 5
print(f"Resultado é {str(an_interger)}")

Resultado é 9

In [35]:
# Equality Operators

In [37]:
variable_01 = 1
variable_02 = 2
variable_03 = 3

print(1 == variable_01)
print(2 == variable_02)

equality_variable = variable_01 == variable_02
not_equality = variable_01 != variable_02

True
True

In [39]:
print(f"Is one equal to two? {str(equality_variable)}")

Is one equal to two? False

In [43]:
print(f'Is one different from two? {str(not_equality)}')

Is one different from two? True

In [45]:
# Comparison operators

In [49]:
print(f"Is one bigger than two? {str(variable_01 > variable_02)}")

Is one bigger than two? False

In [51]:
print(f"Is one less than two? {str(variable_01 < variable_02)}")

Is one less than two? True

In [53]:
# Logical Operators

In [55]:
print((2 > 1) and (3 < 5))
print((2 > 1) and (1 > 3))

True
False

In [57]:
print((3 < 5) or (2 > 1))
print((0 > 1) or (0 == -1))
print((0 < 1) or (0 == -1))

True
False
True

In [59]:
# Concatenation

In [63]:
programming = "Programming"
oo = 'OO'
programming_oo = programming + " " + oo
print(programming_oo)

Programming OO

In [66]:
# length

In [68]:
print(len(programming_oo))

14

In [70]:
# Indexing and Substrings

In [72]:
phrase = "Python is very fun!"

In [74]:
# The index starts in 0

In [76]:
print(phrase[3])
print(phrase[-1])
print(phrase[-2])
print(phrase[:4])
print(phrase[10:])
print(phrase[5:10])
print(phrase[:])

h
!
n
Pyth
very fun!
n is
Python is very fun!

In [78]:
# Multiplying a string by a number

In [80]:
hello = 'hello'
seven_hello = hello * 7

In [82]:
print(seven_hello)

hellohellohellohellohellohellohello

In [84]:
# Operator In

In [86]:
programming_in_python = "Programming in Python"
# Check if a string contains 'Python'
print('Python' in programming_in_python)
print('python' in programming_in_python)
print('abacate' in programming_in_python)

True
False
False

In [88]:
# Escaping

In [90]:
print("I'm studying\n" + programming_in_python)

I'm studying
Programming in Python

In [92]:
print(programming_in_python.lower())
print(programming_in_python.upper())

programming in python
PROGRAMMING IN PYTHON

In [94]:
all_lowercase = "class of python"
print(all_lowercase.capitalize())

Class of python

In [96]:
# Formatting

In [98]:
name = "Belinha"
interger_number = 7
decimal_number = 7.584

In [100]:
print("Hello, my name is %s! I'm %d years old and %d dollars" % (name, interger_number, decimal_number))

Hello, my name is Belinha! I'm 7 years old and 7 dollars

In [102]:
print(f"Hello, my name is {name}! I'm {interger_number} years old and {decimal_number} dollars")

Hello, my name is Belinha! I'm 7 years old and 7.584 dollars

In [106]:
print("Hello, my name is %s! I'm %d and %.2f dollars" % (name, interger_number, decimal_number))

Hello, my name is Belinha! I'm 7 and 7.58 dollars