In [1]:
# Variáveis: Definição de tipos
# Declarando 4 variáveis e atribuindo valores a elas
a_string = "Student"
an_interger = 7
a_float = 7.584
a_boolean = True

In [2]:
# Print a valor and the type of variable

In [3]:
print(a_float)
print(type(a_float))

7.584
<class 'float'>

In [4]:
# Casting: Converting a variable kind float for string

In [5]:
print(int(a_float))

7

In [6]:
print(str(a_float))

7.584

### Arithmetic Operations

In [8]:
# Sum, subtraction, multiplication, division

In [9]:
result_1 = 7 + 5
result_2 = an_interger - result_1
result_3 = result_2 * 3
result_4 = result_3 / 4

In [10]:
# Printing the results concatenating a string with numeric result

In [11]:
print("Result of sum = {}".format(str(result_1)))

Result of sum = 12

In [12]:
print("Result of subtration = {}".format(str(result_2)))

Result of subtration = -5

In [13]:
print("Result of multiplication = {}".format(str(result_3)))

Result of multiplication = -15

In [14]:
print("Result of division = {}".format(str(result_4)))

Result of division = -3.75

In [15]:
# Increment and decrement

In [16]:
an_interger  -= 3
print("Result: " + str(an_interger))

Result: 4

In [17]:
an_interger += 5
print(f"Resultado é {str(an_interger)}")

Resultado é 9

In [18]:
# Equality Operators

In [19]:
variable_01 = 1
variable_02 = 2
variable_03 = 3

print(1 == variable_01)
print(2 == variable_02)

equality_variable = variable_01 == variable_02
not_equality = variable_01 != variable_02

True
True

In [20]:
print(f"Is one equal to two? {str(equality_variable)}")

Is one equal to two? False

In [21]:
print(f'Is one different from two? {str(not_equality)}')

Is one different from two? True

In [22]:
# Comparison operators

In [23]:
print(f"Is one bigger than two? {str(variable_01 > variable_02)}")

Is one bigger than two? False

In [24]:
print(f"Is one less than two? {str(variable_01 < variable_02)}")

Is one less than two? True

In [25]:
# Logical Operators

In [26]:
print((2 > 1) and (3 < 5))
print((2 > 1) and (1 > 3))

True
False

In [27]:
print((3 < 5) or (2 > 1))
print((0 > 1) or (0 == -1))
print((0 < 1) or (0 == -1))

True
False
True

In [28]:
# Concatenation

In [29]:
programming = "Programming"
oo = 'OO'
programming_oo = programming + " " + oo
print(programming_oo)

Programming OO

In [30]:
# length

In [31]:
print(len(programming_oo))

14

In [32]:
# Indexing and Substrings

In [33]:
phrase = "Python is very fun!"

In [34]:
# The index starts in 0

In [35]:
print(phrase[3])
print(phrase[-1])
print(phrase[-2])
print(phrase[:4])
print(phrase[10:])
print(phrase[5:10])
print(phrase[:])

h
!
n
Pyth
very fun!
n is
Python is very fun!

In [36]:
# Multiplying a string by a number

In [37]:
hello = 'hello'
seven_hello = hello * 7

In [38]:
print(seven_hello)

hellohellohellohellohellohellohello

In [39]:
# Operator In

In [40]:
programming_in_python = "Programming in Python"
# Check if a string contains 'Python'
print('Python' in programming_in_python)
print('python' in programming_in_python)
print('abacate' in programming_in_python)

True
False
False

In [41]:
# Escaping

In [42]:
print("I'm studying\n" + programming_in_python)

I'm studying
Programming in Python

In [43]:
print(programming_in_python.lower())
print(programming_in_python.upper())

programming in python
PROGRAMMING IN PYTHON

In [44]:
all_lowercase = "class of python"
print(all_lowercase.capitalize())

Class of python

In [45]:
# Formatting

In [46]:
name = "Belinha"
interger_number = 7
decimal_number = 7.584

In [47]:
print("Hello, my name is %s! I'm %d years old and %d dollars" % (name, interger_number, decimal_number))

Hello, my name is Belinha! I'm 7 years old and 7 dollars

In [48]:
print(f"Hello, my name is {name}! I'm {interger_number} years old and {decimal_number} dollars")

Hello, my name is Belinha! I'm 7 years old and 7.584 dollars

In [49]:
print("Hello, my name is %s! I'm %d and %.2f dollars" % (name, interger_number, decimal_number))

Hello, my name is Belinha! I'm 7 and 7.58 dollars

In [50]:
# Listas

In [51]:
numbers = [1, 10, 100, 1000]
print(numbers)

[1, 10, 100, 1000]

In [52]:
# print element index number 2
print(numbers[2])

100

In [53]:
# Lists Operations

In [54]:
# include two itens with +

In [55]:
numbers += [10000, 100000]
print(numbers)

[1, 10, 100, 1000, 10000, 100000]

In [56]:
# include 1 item in list using append

In [57]:
numbers.append(1000000)
print(numbers)

[1, 10, 100, 1000, 10000, 100000, 1000000]

In [58]:
# Substitute the itens on 1 and 2 positions

In [59]:
numbers[1:3] = [7]

In [60]:
print(numbers)

[1, 7, 1000, 10000, 100000, 1000000]

In [61]:
# remove itens in 1 and 2 positions list

In [62]:
numbers[1:3] = []

In [63]:
print(numbers)

[1, 10000, 100000, 1000000]

In [64]:
# Size of list

In [65]:
print(len(numbers))

4

In [66]:
# Tuple

In [67]:
naipes = ('copas', 'ouros', 'espadas', 'paus')

In [68]:
print(naipes)

('copas', 'ouros', 'espadas', 'paus')

In [69]:
# Dictionary

In [70]:
# Create and print the dictionary

In [71]:
grades_students = {'Ana': 8, 'Maria': 5, 'Thais': 10}
print(grades_students)

{'Ana': 8, 'Maria': 5, 'Thais': 10}

In [72]:
# Acess the value of key

In [73]:
print(grades_students['Thais'])

10

In [74]:
# include an item

In [75]:
grades_students['Joamir'] = 9
print(grades_students)

{'Ana': 8, 'Maria': 5, 'Thais': 10, 'Joamir': 9}

In [76]:
# remove an item

In [77]:
del grades_students['Joamir']
print(grades_students)

{'Ana': 8, 'Maria': 5, 'Thais': 10}

In [78]:
print('Joamir' in grades_students)

False

### Conditions

In [80]:
name = 'Joamir'
age = 25

In [81]:
# if condition

In [82]:
if name == 'Joamir':
    print('Passed!')

if name == 'Joamir' or age == 17:
    print('Passed again!')
    print(f'{name} has {age} years')

Passed!
Passed again!
Joamir has 25 years

In [83]:
# Elif, if, else commands

In [84]:
days = ['saturday', 'sunday']
if len(days) == 0:
    print('Empty list')
elif len(days) == 1:
    print('only one day')
else:
    print(f'Size {len(days)}')

Size 2

### Loops

In [86]:
# Loop for

In [87]:
for counter in range(6):
    print(counter)

0
1
2
3
4
5

In [88]:
for counter in range(6, 10):
    print(counter)

6
7
8
9

In [89]:
for counter in range(20, 40, 4):
    print(counter)

20
24
28
32
36

In [90]:
# Another example

In [91]:
even_numbers = [2, 4, 6, 8]
for counter in range(len(even_numbers)):
    print(f'Index {counter} - value {even_numbers[counter]}')

Index 0 - value 2
Index 1 - value 4
Index 2 - value 6
Index 3 - value 8

In [92]:
# Loop using string

In [93]:
hello_world = 'Hello, World'

In [94]:
for character in hello_world:
    print(character)

H
e
l
l
o
,

W
o
r
l
d

In [187]:
# Loop While

In [189]:
number_while_counter = 1

In [191]:
while number_while_counter <= 7:
    print(number_while_counter)
    number_while_counter += 1

1
2
3
4
5
6
7

In [193]:
# Print numbers less than 25

In [203]:
number_while_counter = 1
quadratic = 1

In [205]:
while quadratic <= 24:
    quadratic = number_while_counter ** 2
    print(f"Número {number_while_counter} - quadrado {quadratic}")
    number_while_counter += 1
print(f'Ao sair do While, {number_while_counter} tem o valor')

Número 1 - quadrado 1
Número 2 - quadrado 4
Número 3 - quadrado 9
Número 4 - quadrado 16
Número 5 - quadrado 25
Ao sair do While, 6 tem o valor

In [207]:
# Break

In [209]:
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [211]:
naipes = ['copas', 'ouros', 'espadas', 'paus']

In [213]:
# loop infinito

In [215]:
while True:
    element = naipes.pop()
    print(element)
    if element == 'espadas':
        break

paus
espadas

In [217]:
# Continue

In [221]:
for counter in range(5):
    if counter == 3:
        continue
    print(counter)

0
1
2
4

In [223]:
# print only odd

In [229]:
for counter in range(10):
    if (counter % 2) == 0:
        # skip print (counter) for this loop
        continue
    print(f'Número {counter}')

Número 1
Número 3
Número 5
Número 7
Número 9

### Funções

In [232]:
# Define a function call hello_world

In [234]:
def hello_word():
    print('Hello, World')
    print('Oi, Mundo')
    print('Salut, Monde')
    print('Hola, mundo')

In [236]:
for counter in range(3):
    hello_word()

Hello, World
Oi, Mundo
Salut, Monde
Hola, mundo
Hello, World
Oi, Mundo
Salut, Monde
Hola, mundo
Hello, World
Oi, Mundo
Salut, Monde
Hola, mundo

In [238]:
# Functions with parameters

In [242]:
def a_function(j):
    print(f'x = {j}')

In [244]:
a_function(5)

x = 5

In [246]:
# Function with return

In [248]:
def sum_function(a, b):
    return a + b

In [252]:
variable_c = sum_function(7, 5)
print(f'c = {variable_c}')

c = 12